/*animate the background gradient position, use vh so that start/end syncs up viewport horizontal*/
@keyframes rainbow {
    from {background-position: -100vh 0}
    to {background-position: 100vh 0}
}

/*compatibility*/
@-moz-keyframes rainbow {
    from {background-position: -100vh 0}
    to {background-position: 100vh 0}
}
@-webkit-keyframes rainbow {
    from {background-position: -100vh 0}
    to {background-position: 100vh 0}
}
@-ms-keyframes rainbow {
    from {background-position: -100vh 0}
    to {background-position: 100vh 0}
}
@-o-keyframes rainbow {
    from {background-position: -100vh 0}
    to {background-position: 100vh 0}
}
.center_image {


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: double 0.3em transparent;
    border-radius: 10px;
    /*added a colourstop here, without the third colourstop you get a hard edge*/
    background: linear-gradient(rgba(87, 87, 87, 0.8), rgba(68, 68, 68, 0.8)),
    repeating-linear-gradient(to right, rgb(82, 82, 209),rgb(235, 50, 235), rgb(82, 82, 209));
    background-origin: border-box;
    background-clip: content-box, border-box;



    animation-name: rainbow;
    animation-duration:  3s;

    /*set animation to continue forever, and to move at a single rate instead of easing*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.center_image_image{
    scale: 25%;
    border: double 0.3em transparent;
    border-radius: 10px;
    /*added a colourstop here, without the third colourstop you get a hard edge*/
    background: linear-gradient(white, white),
    repeating-linear-gradient(to right, rgb(82, 82, 209),rgb(235, 50, 235), rgb(82, 82, 209));
    background-origin: border-box;
    background-clip: content-box, border-box;


    animation-name: rainbow;
    animation-duration:  3s;

    /*set animation to continue forever, and to move at a single rate instead of easing*/
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(-125%, -125%);
}
.nombre{
    margin: 10px;
    position: absolute;
    bottom: 400px;
    left: 210px;
    scale: 170%;
    text-underline: black;
    font-family: "AniMe Matrix - MB_EN", fantasy;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
}
body{
    background-color:black;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}